<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body{
            margin-top:20px;
            background:#eee;
        }
        .ui-w-40 {
            width: 40px !important;
            height: auto;
        }

        .card{
            box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
        }

        .ui-product-color {
            display: inline-block;
            overflow: hidden;
            margin: .144em;
            width: .875rem;
            height: .875rem;
            border-radius: 10rem;
            -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
            vertical-align: middle;
        }


        img{
            width: 120px;
            height: 120px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="container px-3 my-5 clearfix" style="background-color: white; width: 60%">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                    <tr>
                        <!-- Set columns width -->
                        <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                        <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                        <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="product:${products}">
                        <td class="p-4">
                            <div class="media align-items-center">
                                <img th:src="@{${product.getProductImageList()[0].path}}" class="d-block ui-w-42 ui-bordered mr-4" alt="">
                                <div class="media-body">
                                    <p th:text="${product.name}" style="font-size: 18px; font-weight: inherit" class="d-block text-dark"></p>
                                    <small>
                                        <span class="text-muted">Description: </span><span th:text="${product.description}"></span> &nbsp;
                                        <span class="text-muted">Manufacturer name: </span><span th:text="${product.manufacturer}"></span>
                                    </small>
                                </div>
                            </div>
                        </td>
                        <td th:text="${product.getProductPrices()[0].price}" class="text-right font-weight-semi-bold align-middle p-4"></td>
                        <td class="align-middle p-4"><input type="text" class="form-control text-center" name="quantity" id="quantity" value="1"></td>
                        <td th:text="${product.getProductPrices()[0].price}" class="text-right font-weight-semi-bold align-middle p-4"></td>
                        <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <div class="mt-4">
                    <label class="text-muted font-weight-normal">Promo-code</label>
                    <input type="text" placeholder="ABC" class="form-control">
                </div>
                <div class="d-flex">
                    <div class="text-right mt-4 mr-5">
                        <label class="text-muted font-weight-normal m-0">Discount</label>
                        <div class="text-large"><strong>0</strong></div>
                    </div>
                    <div class="text-right mt-4">
                        <label class="text-muted font-weight-normal m-0">Total price</label>
                        <div class="text-large"><span th:text="${total}"></span></div>
                    </div>
                </div>
            </div>

            <div class="float-right">
                <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3"><a href="http://localhost:8080/products">Back to shopping</a></button>
                <button type="button" class="btn btn-lg btn-primary mt-2"><a href="http://localhost:8080/pay" style="color: white">Checkout</a></button>
            </div>

        </div>
    </div>
</div>
</body>
</html>